mixin navSection(title) 
  article(class=`${title} section` id=`${title}`)
    h2(class="section-header")= title
    block
    .line

mixin skillsList(title, [...listItems])  
  h4= title       
  ul 
    each listItem in listItems 
      li= listItem

